@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap");

body {
  background-color: lightgray;
  margin: 0;
}

.top_slider {
  position: fixed;
  background-color: black;
  height: 55px;
  width: 100%;
  top: -55px;
  transition: all 0.5s;
}

.slide {
  transform: translateY(55px);
}

header {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
}

header p {
  color: black;
  font-size: 35px;
  font-family: "Montserrat Subrayada", sans-serif;
  z-index: 1;
  transition: all 0.5s;
}

.blacken p {
  color: white;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 60px;
  background-color: #d9eddf;
}

td {
  border: 5px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
}

input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 40px;
}

input:focus {
  background-color: teal;
  border: none;
  color: #d9eddf;
}

.tall {
  height: 1000px;
  background-color: lightgray;
}
